<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="autohotkey.portable" />
  <package id="cmder" />
  <package id="DotNet4.5.2" />
  <package id="dotnet4.6.2" />
  <package id="netfx-4.6.2-devpack" />
  <package id="dotnetcore" />
  <package id="dotnetcore-windowshosting" />
  <package id="git" />
  <package id="GoogleChrome" />
  <package id="jre8" />
  <package id="notepadplusplus" />
  <package id="putty" />
  <package id="sourcetree" />
  <package id="tortoisegit" />
  <package id="visualstudiocode" />
  <package id="visualstudio2017professional" />
  <package id="visualstudio2017-workload-azure" -version "1.1.0" />
  <package id="visualstudio2017-workload-data" -version "1.1.0" />
  <package id="visualstudio2017-workload-manageddesktop" -version "1.1.0" />
  <package id="visualstudio2017-workload-netcoretools" -version "1.1.0" />
  <package id="visualstudio2017-workload-netweb" -version "1.1.0" />
  <package id="visualstudio2017-workload-node" -version "1.1.0" />  
  <package id="visualstudio2017-workload-office" -version "1.1.0"/>  
  <package id="nodejs" />  
  <package id="sql-server-express" />
  <package id="sql-server-management-studio" />
  <package id="resharper-platform" />
  <package id="7zip" />
</packages>