<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="autohotkey.portable"  />
  <package id="azcopy"  />
  <package id="cmder"  />
  <package id="GoogleChrome"  />
  <package id="DotNet4.5.2"  />
  <package id="dotnet4.6.2"  />
  <package id="dotnetcore"  />
  <package id="dotnetcore-runtime"  />
  <package id="dotnetcore-runtime.install"  />
  <package id="dotPeek"  />
  <package id="fiddler4"  />
  <package id="GoogleChrome"  />
  <package id="KB2919355"  />
  <package id="KB2919442"  />
  <package id="linqpad"  />
  <package id="linqpad5"  />
  <package id="linqpad5.install"  />
  <package id="netfx-4.6.2-devpack"  />
  <package id="nodejs.install"  />
  <package id="notepadplusplus"  />
  <package id="notepadplusplus.install"  />
  <package id="PowerBI"  />
  <package id="PowerShell"  />
  <package id="procexp"  />
  <package id="putty"  />
  <package id="putty.portable"  />
  <package id="resharper-platform"  />
  <package id="sourcetree"  />
  <package id="sql-server-management-studio"  />
  <package id="ssdt15"  />
  <package id="tortoisegit"  />
  <package id="vcredist2010"  />
  <package id="vcredist2013"  />
  <package id="vcredist2015"  />
  <package id="visualstudiocode"  />
  <package id="visualstudio2015enterprise"  packageParameters="--AdminFile ./config/vs2015.xml" />
</packages>