<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="7zip" />
  <package id="adobereader" />
  <package id="calibre" />
  <package id="docker-for-windows" />
  <package id="docker" />  
  <package id="dotPeek" />
  <package id="dropbox" />
  <package id="fiddler4" />
  <package id="keepass" />
  <package id="linqpad" />  
  <package id="mysql.workbench" />
  <package id="PowerBI" />  
  <package id="procexp" />  
  <package id="python3" packageParameters="/InstallDir:'C:\Programs Files\Python"/>
  <package id="skype" />
  <package id="visualstudio2015enterprise"  packageParameters="--AdminFile ./config/vs2015.xml" /> 
  <package id="vlc" />
  <package id="XMind" />
</packages>