<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="7zip" />
  <package id="adobereader" />
  <package id="calibre" />
  <package id="dotPeek" />
  <package id="dropbox" />
  <package id="keepass" />
  <package id="mysql.workbench" />
  <package id="procexp" />  
  <package id="python3" packageParameters="/InstallDir:'C:\Programs Files\Python"/>
  <package id="skype" />
  <package id="vlc" />
  <package id="XMind" />
</packages>